/**/bin/**/*
/**/obj/**/*
tasks.json
launch.json
/free-market-model/.vs/free-market-model/v15/Server/sqlite3/storage.ide-wal
/free-market-model/.vs/free-market-model/v15/Server/sqlite3/storage.ide-shm
/free-market-model/.vs/free-market-model/v15/Server/sqlite3/storage.ide
/free-market-model/.vs/free-market-model/v15/Server/sqlite3/db.lock
/free-market-model/.vs/free-market-model/v15/Server/sqlite3
/free-market-model/.vs/free-market-model/v15/.suo
/.vs/free-market-model/v15/Server/sqlite3/storage.ide-wal
/.vs/free-market-model/v15/Server/sqlite3/storage.ide-shm
/.vs/free-market-model/v15/Server/sqlite3/storage.ide
/.vs/free-market-model/v15/Server/sqlite3/db.lock
